<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @message.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @message.to %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @message.subject %>
</p>

<p>
  <strong>Label:</strong>
  <%= @message.label %>
</p>

<p>
  <strong>Attachments:</strong>
  <% @attachments.each do |attachment| %>
    <%= attachment.filename %>
  <% end %>
</p>

<p>
  <strong>Actions:</strong>
  <%= link_to 'Delete', @message, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to (@message.star ? "UnStar" : "Mark as star"), message_path(@message, :message => {:star => !@message.star}), :method=> :put %>
  <%= link_to (@message.read ? "UnRead" : "Mark as read"), message_path(@message, :message => {:read => !@message.read}), :method=> :put %>
</p>

<p>
  <strong>Body:</strong>
  <pre>
    <%= raw @message.body %>
  </pre>
</p>

<%= form_for @message, url: reply_message_path(@message), method: "post" do |message| %>
  <%= message.text_area :body, cols: 80, rows: 10 %>
  </br>
  <%= message.submit "Reply" %>
<% end %>

</br>
<%= link_to 'Back', messages_path %>
